* {
  font-family: url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
  background-color: var(--mv-color-1-background);
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --mv-color-1-background: #8caaa2;
  --mv-color-2-background2: #efaaa3;
  --mv-color-3: #ff8591;
  --mv-color-4: #5a9b95;
  --mv-color-5: #44878f;
  --mv-color-6-font: #303030;

  --mv-margin-xs: 10px;
  --mv-margin-s: 20px;
  --mv-margin-m: 30px;
  --mv-margin-l: 40px;
  --mv-margin-xl: 50px;
  --mv-margin-section: 80px;

  --mv-padding-xs: 10px;
  --mv-padding-s: 20px;
  --mv-padding-m: 30px;
  --mv-padding-l: 40px;
  --mv-padding-xl: 50px;

  --mv-gap-xs: 10px;
  --mv-gap-s: 20px;
  --mv-gap-m: 30px;
  --mv-gap-l: 40px;
  --mv-gap-xl: 50px;
}
